<div class="<%= location %>">
  <%= link_to "Homepage", root_path, class: 'nav-link js-scroll-trigger' %>
  <%= link_to "About Me", about_me_path, class: 'nav-link js-scroll-trigger' %>
  <%= link_to "Contact", contact_path, class: 'nav-link js-scroll-trigger' %>
  <%= link_to "Blog", blogs_path, class: 'nav-link js-scroll-trigger' %>
  <%= link_to "My Portfolio", portfolios_path, class: 'nav-link js-scroll-trigger' %>
</div>
